* {
  margin: 0;
  padding: 0;
}
.header {
  padding: 25px;
  background-color: #ff000004;
}
.head {
  position: static;
  width: auto;
  padding-right: 145px;
  padding-left: auto;
  height: auto;
  left: 100px;
  top: 53px;
  font-family: Sansita;
  font-style: normal;
  font-weight: normal;
  font-size: 90px;
  line-height: 125px;
  color: #000000;
}
#home {
  position: static;
  margin-right: 10px;
  width: 128px;
  height: 65px;
  left: 1242px;
  top: 100px;
  font-family: Sansita;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 58px;
  color: #000000;
}

#about {
position: static;
margin-right: 10px;
width: 200px;
height: 65px;
left: 1400px;
top: 100px;
font-family: Sansita;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 58px;
color: #000000;
}
a{
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#Welcome{
position: static;
width: 400px;
height: 180px;
left: 100px;
padding-left: 225px;
padding-top: 140px;
top: 364px;
font-family: Sansita;
font-style: normal;
font-weight: normal;
font-size: 75px;
line-height: 100px;
color: #000000;
}
#main{
  background-color: #ffffff;
  height: 500px;
}
#imagebox{
position: absolute;
border-radius: 75px;
width: 305.62px;
height: 402.04px;
left: 1200px;
top: 240px;
background-image: image-set("HomePage-Pics/spain1 barcelona.jpg");
background-size:305.62px 402.04px;
}
#imagebox2{
  position: absolute;
  border-radius: 75px;
  width: 305.62px;
  height: 402.04px;
  left: 1200px;
  top: 240px;
  background-image: image-set("Sights-Pics/slide1.jpg");
  background-size:305.62px 402.04px;
  }
.slide {
display:none;
border-radius: 75px;
width: 305.62px;
height: 402.04px
}
.vänster{
 margin-left: 201.5px;
}

.höger, .vänster{
    height:50px; 
    width:50px;
    font-weight:bold; 
    font-size:35px;
    background-color: #000000af;
    border-radius: 100px;
    color:#ffffff
}
.center{
  background-position-x: center;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.höger:hover, .vänster:hover{
color: #000;
} 

#left{
  float:left;
}
#right{
  float:right;
}
#cult{
  background-color: rgba(255, 0, 0, 0.575);
  overflow: hidden;
  height: 400px;
}
#trad{
  background-color: rgba(255, 238, 0, 0.521);
  height:400px;
  overflow: hidden;
}
#sight{
  background-color: rgba(255, 0, 0, 0.575);
  overflow: hidden;
}
.undertitle{
  position: static;
  width: auto;
  padding-right: 145px;
  padding-left: auto;
  height: auto;
  font-family: Sansita;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 125px;
  color: #000000;
}
.underpic{
  margin: 25px;
  margin-right: 200px;
  height: 300px;
  width: 300px;
  float:right;
}
.underparag{
  width: 200px;
  font-family: Sansita;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;

}
.spanhalf{
  width:300px;
}
h1{
  font-family: Sansita;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  margin-left:42%;
}
#data{
  font-family: Sansita;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  width: 35%;
  margin-left: 30%;;
}
#little, #more{
  font-family: Sansita;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  width: 25%;
}