* {
  margin: 0;
  padding: 0;
}
.header {
  padding: 25px;
  background-color: #575757;
}
#main{
  background-color: #ff0000;
}
.head {
  position: static;
  width: auto;
  padding-right: 145px;
  padding-left: auto;
  height: auto;
  left: 100px;
  top: 53px;
  font-family: Sansita;
  font-style: normal;
  font-weight: normal;
  font-size: 90px;
  line-height: 125px;
  color: #000000;
}
#home {
  position: static;
  margin-right: 10px;
  width: 128px;
  height: 65px;
  left: 1242px;
  top: 100px;
  font-family: Sansita;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 58px;
  color: #000000;
}

#about {
position: static;
margin-right: 10px;
width: 200px;
height: 65px;
left: 1400px;
top: 100px;
font-family: Sansita;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 58px;
color: #000000;
}
#contact{
  position: static;
  width: 158px;
  height: 65px;
  margin-right:20px;
  left: 1600px;
  top: 100px;
  font-family: Sansita;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 58px;
  color: #000000;
}
a:hover {
  text-decoration: underline;
}
#Welcome{
position: static;
width: 400px;
height: 180px;
left: 100px;
padding-left: 140px;
padding-bottom: 120px;
padding-top: 120px;
top: 364px;
font-family: Sansita;
font-style: normal;
font-weight: normal;
font-size: 75px;
line-height: 100px;
color: #000000;
}

#imagebox{
position: absolute;
border-radius: 75px;
width: 505.62px;
height: 602.04px;
left: 1200px;
top: 297.96px;
background-image: image-set("HomePage-Pics/spain1 barcelona.jpg");
background-size:505.62px 602.04px;
margin-: ;
}
.slide {
display:none;
border-radius: 75px;
width: 305.62px;
height: 402.04px;
}
.höger, .vänster{
    height:50px; 
    width:50px;
    font-weight:bold; 
    font-size:35px;
}
.höger{
    background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(115,115,115,1) 100%);
    
}
.vänster{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(115,115,115,1) 100%);
    margin-left:401,5;
}
.center{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#left{
  float:left;
}
#right{
  float:right;
}